extends ../layout

block content
    h1= title
    p.create-book
        a.button(href='/books/new') Create New Book

    form.search
        input(type="text", name="search", placeholder="Search on any book field")
        button.button(type="submit") Search
    table
        thead
            tr
                th Title
                th Author
                th Genre
                th Year
        tbody
            each book in books
                tr
                    td
                        a(href=`books/${book.id}`)= book.title
                    td= book.author
                    td= book.genre
                    td= book.year

    p.pagination
        - var i = 1;
        while i <= pageCount
            a.button(href=`/books?page=${i}`)= i
            - i++